body{
	padding-top: 20px;
}

.navbar{
	background-color: #eee;
	border-radius: 5px;
}
.navbar-light .navbar-nav .nav-link{
	padding: 15px 0;
	color: #777;
	text-align: center;
}
.jumbotron{
	text-align: center;
	background: transparent;
}
.jumbotron .btn{
	padding: 15px 25px;
	font-size: 22px;
}
.centro{
	text-align: center;
}